# Data Loading and Previewing

In [85]:
import pandas as pd

rawData = pd.read_csv('https://raw.githubusercontent.com/skduong/anuran-calls/master/Frogs_MFCCs.csv')
rawData.head()

   MFCCs_ 1  MFCCs_ 2  MFCCs_ 3  ...      Genus         Species  RecordID
0       1.0  0.152936 -0.105586  ...  Adenomera  AdenomeraAndre         1
1       1.0  0.171534 -0.098975  ...  Adenomera  AdenomeraAndre         1
2       1.0  0.152317 -0.082973  ...  Adenomera  AdenomeraAndre         1
3       1.0  0.224392  0.118985  ...  Adenomera  AdenomeraAndre         1
4       1.0  0.087817 -0.068345  ...  Adenomera  AdenomeraAndre         1

[5 rows x 26 columns]

In [86]:
data = rawData[rawData.columns[:23]] #focus on Family classification
data['Family'].value_counts() #get class balance

Leptodactylidae    4420
Hylidae            2165
Dendrobatidae       542
Bufonidae            68
Name: Family, dtype: int64

Rebalancing is needed: undersample Leptodactylidae, oversamle Dendrobatidae with SMOTE, remove Bufondidae

In [87]:
import numpy as np
from imblearn.over_sampling import SMOTE

lepto = data.loc[data['Family'] == 'Leptodactylidae']
hyli = data.loc[data['Family'] == 'Hylidae']
dendro = data.loc[data['Family'] == 'Dendrobatidae']

#oversample dendro classes to match dendro
subset = pd.concat([hyli, dendro])
X = subset.drop(['Family'], 1)
y = subset['Family']
oversample = SMOTE()
X, y = oversample.fit_resample(X, y) #X = data matrix, y = labels
oversample_df = pd.concat([pd.DataFrame(X), pd.DataFrame(y)], 1)
oversample_df.columns = lepto.columns.values
#pd.Series(y).value_counts()

#randomly undersample lepto by 1420 cases
undersample = lepto.drop(np.random.choice(lepto.index, 1420, False))

#rebalanced data
data = pd.concat([undersample, oversample_df])
data['Family'].value_counts()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

Leptodactylidae    3000
Dendrobatidae      2165
Hylidae            2165
Name: Family, dtype: int64

Improved balanced compared to before. Not perfect, but it's a compromise between losing too many Leptodactylidae cases and having heavy imbalance with the major class.

In [88]:
data.describe()

          MFCCs_ 1     MFCCs_ 2  ...     MFCCs_21     MFCCs_22
count  7330.000000  7330.000000  ...  7330.000000  7330.000000
mean      0.991045     0.319733  ...     0.020624     0.057505
std       0.064298     0.208382  ...     0.079459     0.116603
min      -0.251179    -0.673025  ...    -0.430812    -0.375461
25%       1.000000     0.185027  ...    -0.034753    -0.021585
50%       1.000000     0.303629  ...     0.009706     0.038222
75%       1.000000     0.431324  ...     0.072029     0.164900
max       1.000000     1.000000  ...     0.387363     0.432207

[8 rows x 22 columns]